/* 
------PISTAS PARA LLEGAR MAS RAPIDO AL STYLE-------


INICIO DE STYLES DE FORMULARIOS DINAMICOS 



*/



:root {
    --color-white: #ffffff;
    --color-balck: #000000;
    --color-primary: #5b21b6;
    --color-secondary: #f59e0b;
    --color-thrid: #fbbf24;
    --color-pink: #f59e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background: #ECECEC;
}

body {
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Noto Serif", sans-serif;

}

.bg-body-tertiary {
    background-color: var(--color-secondary);
}

.navbar-toggler {
    display: none;
}

.navbar{
    width: 100%;
    height: 4.5rem;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

/* estilos navegacion 2.0*/
.navbar .container-fluid {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    min-width: 20%;
    height: 4rem;
}

.nav-left .logo {
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.7rem;

}

.nav-left .logo > .img-logo {
    width: 80px;
    height: inherit;
    margin: 0.2rem 1rem;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/** END STYLE LOGO **/


.navbar-brand {
    display: block;
    width: 20%;
    height: inherit;
    text-align: center;
    line-height: 3.8;
}

.container-fluid > .collapse {
    width: 80%;
    height: inherit;
}
.container-fluid > .collapse > ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;

}

.nav-link {
    color: blueviolet;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: blueviolet;
    color: aliceblue;
}


.nav .nav-container > .nav-right {
    min-width: 50%;
    height: var(--nav-medida);
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* DESING BUTTON'S*/

.btn {
    border: none;
    color: var(--color-text-black);
    padding: 0.2rem 0.5rem;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s all ease;
    font-size: 1rem;
}


.btn-gd {
    max-width: 90%;
    min-width: 61%;
    height: 4.5rem;
    font-size: 1.5rem;
}

.btn-md {
    max-width: 60%;
    min-width: 31%;
    height: 3rem;
    font-size: 1.1rem;
}

.btn-sm {
    max-width: 200px;
    min-width: 100px;
    height: 2.1275rem;
    font-size: 0.8rem;
}

/********************* COLOR'S BUTTON'S **********************/
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5), 1px 2px 2px 1px rgba(0, 0, 0, 0.5);

}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-thrid {
    background-color: var(--color-thrid);
    color: var(--color-white);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-easy {
    background-color: var(--color-pink);
    color: var(--color-white);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-warning {
    background-color: rgb(255, 204, 35);
    color: black;
    margin: 0.5rem;
    padding: 0.25rem;
    width: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-danger {
    background-color: rgb(255, 35, 35);
    color: black;
    margin: 0.5rem;
    padding: 0.25rem;
    width: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-return {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.25rem;
    width: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
}

/********************* HOVER'S BUTTON'S **********************/
.btn-push-primary:active {
    box-shadow: none;

}

.btn-easy-push:hover {
    background-color: #f59e0b;
    color: #5b21b6;
    opacity: 1.1;
    transform: perspective(100px)rotateX(5deg)scale(1.05);
}

.btn-hover-push-primary:hover{
    color: #5b21b6;
    background: #ffffff;
}

.btn-scale-x:hover {
    transform: scaleX(1.1);
}


/**************** CONTAINER PAGE *****************/
.container {
    max-width: 100%;
    min-height: 100vh;
}

.seccion {
    height: inherit;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seccion .seccion-img{
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.seccion .seccion-img > .img-portada-principal{

    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.seccion .seccion-text-portada {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.seccion .seccion-text-portada > .text-portada {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0.5rem;
    animation: text 1s ease infinite;
}

@keyframes text {
    0%   { transform: scale(1); }
    25%  { transform: scale(0.9) }
    50%  { transform: scale(0.8); }
    75%  { transform: scale(0.9) }
    100% { transform: scale(1);}
}

.seccion .content-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    align-items: center;
}

.seccion .content-controls > button {
    margin: 0.5rem 0;
    max-width: 425px;
    height: 3rem;
}

/* INICIO DE STYLES DE FORMULARIOS DINAMICOS */

.form-group{
    width: auto;
    height: 2.5rem;
    align-items:center;
    display: flex;
    margin: 0.2rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 15px;
}

.form-group > label{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    height: inherit;
    border-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f59e;

}

.form-group > input[type=email], input[type=text], input[type=number], input[type=password], input[type=file] {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 0 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 1px solid #f59e;
    transition: all 0.3s ease-in-out;
}

.form-group > input[type=file]{
    display: flex;

}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus {
    outline: 0;
    box-shadow: 1px 1px 5px rgba(255, 85, 153, 0.933);
    animation: parpadeo 0.6s ease infinite ;
}

@keyframes parpadeo {
    0% {
        outline: 1px solid var(--color-primary);
        box-shadow: 1px 1px 5px var(--color-primary);
    }
    50% {
        outline: 1px solid var(--color-secondary);
        box-shadow: 1px 1px 5px var(--color-secondary);
    }
    100% {
        outline: 1px solid #fb7185;
        box-shadow: 1px 1px 5px rgba(255, 85, 153, 0.933);
    }
    
}

/*FORMULARIOS DIMANICOS => INICIO DE SESSION*/
.content-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form > .form-inicio {
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(255, 85, 153, 0.933);
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.content-form > .form-inicio > .form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 15%;
}

.content-form > .form-inicio > .form-title > .title {
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.content-form > .form-inicio > .form-data {
    padding: 0.5rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-form > .form-inicio > .form-data > .form-inicio-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
    padding: 0.2rem 0.5rem;
}

.content-form > .form-inicio > .form-data > .form-inicio-box > .label-control{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.2rem;
}

.content-form > .form-inicio > .form-data > .form-inicio-box > .group-control {
    width: inherit;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content-form > .form-inicio > .form-data > .form-inicio-box > .group-control .label-icon-control{
    height: inherit;
    width: 15%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    border: 1px solid #f59e;
}

.content-form > .form-inicio > .form-data > .form-inicio-box > .group-control .label-icon-control > .icon-control {
    font-size: 1.5rem;
    color: #f59e;
}

.content-form > .form-inicio > .form-data > .form-inicio-box > .group-control > .input-control {
    width: 85%;
    height: inherit;
    outline: none;
    padding: 0 0.5rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 1px solid #f59e;
}

.content-form > .form-inicio > .form-data > .button-control {
    margin: 1rem 1rem;
    height: 2.5rem;
}

/** LIMITE DE STYLES DE FORMULARIOS **/


.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img > img {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-center-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-center-buttom > button {
    position: relative;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card-center-buttom > button > a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
    border-radius: inherit;
    color: var(--color-white);
}

/* ------------- DEPARTAMENTO DE ICONOS BX-----------*/
.bx {
    font-size: 1rem;
    padding-right: 0.5rem;
}

.footer {
    min-width: 50%;
}

.footer .contetn-footer{
    display: block;
}

.footer .footer-content .content-footer > h2{
    color: var(--color-secondary);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--color-secondary);

}

.footer .footer-content .content-footer .contentenido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer .footer-content .content-footer .contentenido > a {
    color: var(--color-white);
    margin-bottom: 0.2rem;
    transition: all 0.5s ease;
}

.footer .footer-content .content-footer > div > a:hover {
    color: var(--color-secondary);
    padding-left: 1rem;
    border-left: 5px solid var(--color-secondary);
    transform: translate(2%);
}
 

.footer .contetn-footer .footer-head{
    display: flex;
    flex-direction: column;
}

.footer .contetn-footer .footer-head .footer-ctr-title, .footer-ctr-btn {
    padding: 1.5rem 0;
}

.footer-footer{
    width: 100%;
    height: 100%;
}

.footer-footer .footer-content-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.footer-footer .footer-content-items .item-content {
    display: flex;
    flex-flow: 4;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    min-width: 51px;
    height: 50px;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.footer-footer .footer-content-items .item-content > i {
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    animation: rodate 3s ease infinite;

}

@keyframes rodate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg)scale(1.2);
    }
    50% {
        transform: rotate(270deg);
    }
    75% {
        transform: rotate(360deg)scale(1.2);
    }
    100% {
        transform: rotate(0deg);
    }
}

.footer-footer .footer-content-items .item-content:hover{
    transform: rotate(180deg);
    box-shadow: none;
}

.footer-footer .footer-content-items .item-content > .bxl-discord-alt:hover{
    color: white;
    background-color: #5b21b6;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-instagram-alt:hover{
    background: linear-gradient(45deg, yellow, #fb7185);
    background-clip: text;
    color: transparent;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-facebook-circle:hover{
    color: blue;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-github:hover{
    color: #000000;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-youtube:hover{
    color: red;
    transform: rotate(-180deg)scale(1.2);
}

.footer-footer .footer-content-items .item-content > .bxl-whatsapp:hover{
    color: green;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-messenger:hover{
    color: blue;
    transform: scale(1.2)rotate(-180deg);
}

.footer-footer .footer-content-items .item-content > .bxl-twitter:hover{
    color: rgb(64, 145, 238);
    transform: scale(1.2)rotate(-180deg);
}

/********************* PART RESPONSIVE **********************/
@media (min-width: 1020px) {

}



/********************* DIMENTIONAL'S COL'S **********************/

.col-1 { width:  8.3%; }
.col-2 { width: 16.6%; }
.col-3 { width: 25.0%; }
.col-4 { width: 33.5%; }
.col-5 { width: 41.8%; }
.col-6 { width: 50.0%; }
.col-7 { width: 58.3%; }
.col-8 { width: 66.6%; }
.col-9 { width: 75.0%; }
.col-10{ width: 83.3%; }
.col-11{ width: 91.6%; }
.col-12{ width: 100%; }

.mt-1 {margin-top: 1rem; }
.mt-2 {margin-top: 2rem;}

.mb-1 {margin-bottom: 1rem; }
.mb-2 {margin-bottom: 2rem;}

.m-1 {margin: 1rem; }
.m-2 {margin: 2rem;}

.px-1 { padding: 0 1rem;}
.px-2 { padding: 0 2rem;}

.py-1 { padding: 1rem 0;}
.py-2 { padding: 2rem 0;}

.p-1 { padding: 1rem 0;}
.p-2 { padding: 2rem 0;}

.text-purple-500 { color: var(--color-primary); }

.font-1 { font-size: 1rem; }
.font-1-md { font-size: 1.5rem; }
.font-2 { font-size: 2rem; }

.center { text-align: center; }

.border { border: 1px solid var(--color-balck);}

.bg-color-purple { background-color: var(--color-primary);}
.bg-color-orange { background-color: var(--color-secondary);}

.text-color-white {
    color: var(--color-white);
    font-weight: 500;
}

.shadow-form {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

ul { list-style: none; }

a { 
    text-decoration: none!important;
}
/*
.btn {
    background-color: var(--color-red);
    color: white;
    font-weight: 400;
    width: 150px;
    height: 25px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    font-weight: 400;
    width: 150px;
    height: 35px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}
*/


.text {
    color: var(--color-red);
    display: block;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-lateral {
    width: 18%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    height: inherit;
    padding: 0.5rem;
}

.contenido-page {
    width: 82%;
    height: inherit;
    padding: 0.5rem;
    background-color: var(--color-white)!important;
    z-index: 1;
}

a,li{
    text-decoration: none;
    list-style: none;
}
h3,hr {
    margin: 1rem;
}

/* tabals */

.conatiner-tabla {
    padding: 1rem;
}

table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: -1px 1px 1px rgb(0, 0, 0, 0.8);
}

table > thead{
    background-color: rgba(130, 48, 207, 0.678);
    border-radius: inherit;
}

table > thead > tr{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

table > tbody > tr{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

th, td {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.8);
}


.mb-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0.5rem;
}

.mb3 > label,input {
    margin: 0.5rem 0;
}

label {
    color: var(--color-balck);
    font-size: 0.9rem;
}



.row {
    width: inherit;
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}
